@use './normalize.css';
@use './colors';
@use './fonts';
@use './root-variables';

:root {
  font-family: Inter, sans-serif;
}

.container {
  margin: auto;
  max-width: 1150px;
  padding: 0 25px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

body.modal-open {
  overflow: hidden;
  height: 100vh;
}