:root {
	--spacing-xs: 4px;
	--spacing-sm: 8px;
	--spacing-md: 16px;
	--spacing-lg: 24px;
	--spacing-xl: 32px;

	--border-radius-sm: 4px;
	--border-radius-md: 8px;
	--border-radius-lg: 12px;

	--shadow-drop-2dp-soft: 0px 1px 1px rgba(41, 44, 51, 0.04), 0px 2px 4px rgba(41, 44, 51, 0.08);
	--shadow-drop-2dp-hard: 0px 1px 1px rgba(41, 44, 51, 0.04), 0px 2px 8px rgba(41, 44, 51, 0.12);
	--shadow-drop-3dp-soft: 0px 1px 4px 0px rgba(6, 10, 13, 0.08), 0px 4px 16px 0px rgba(6, 10, 13, 0.06);
	--shadow-drop-4dp-soft: 0px 2px 2px rgba(41, 44, 51, 0.04), 0px 4px 12px rgba(41, 44, 51, 0.12);
	--shadow-drop-4dp-hard: 0px 2px 8px rgba(41, 44, 51, 0.04), 0px 8px 16px rgba(41, 44, 51, 0.12);

	--regular: 400;
	--bold: 700;

	--strikethrough: line-through;
	--underline: underline;
	--caps: uppercase;
	--caps-spacing: 0.1em;

	--loader-z-index: 18;
	--select-z-index: 1000;

	--icon-button-font-size: 13px;
	--icon-button-line-height: 18px;
	--button-font-size: 14px;
	--button-line-height: 20px;

	--scrollbar-width: inherit;
	--scrollbar-width-fallback: calc(100vw - 100%);
	--default-shadow-color: rgb(23, 35, 38, 0.05);
}