.account-dropdown {
	border-radius: 12px;
	border: 1px solid var(--gray-200);
padding: 1rem 0.5rem;

	max-height: fit-content;
	.account-dropdown__link {
		display: block;
		border-radius: 6px;
		padding: 0 0.2rem;

		&:hover {
			background-color: var(--primary-light);
		}
	}

	.account-dropdown__item {
		padding: 10px 10px;
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;
		transition: all 0.15s ease;
		color: var(--gray-700);
		font-size: 1rem;
		position: relative;

		&:hover {
			.account-dropdown__text {
				color: var(--primary);
			}
			transform: translateX(3px);
		}

		&:active {
			transform: translateX(2px);
			background: var(--primary-100);
		}

		svg {
			transition: all 0.15s ease;
			color: var(--gray-500);
			flex-shrink: 0;
		}

		.account-dropdown__text {
			font-weight: 500;
			white-space: nowrap;

		}


	}

}