$color-primary: #e52e6b;
$color-static-white: #fff;
$color-content-background: #ecf3f8;
$color-dark: #1a1a1a;
$color-button-blue: #07c;;

$color-primary-hover: #851b3e;
$light-gray: #a0a1a3;
$color-overlay: rgba(24, 28, 41, 0.8);

$content-width: 1276px;
$tablet-width: 768px;
$mobile-width: 380px;