$color-primary: #e52e6b;
$color-static-white: #fff;
$color-content-background: #ecf3f8;
$color-dark: #1a1a1a;
$color-button-blue: #07c;;

$color-primary-hover: #851b3e;
$color-primary-10: radial-gradient(107.53% 82.28% at 63.72% 30.57%, rgba(255, 149, 52, .9) 0%, rgba(242, 0, 97, .18) 100%), linear-gradient(89.75deg, #b300b3 50.07%, #d4009a 65.11%, #f2007a 78.99%, #f06 102.42%);
$color-static-white-20: rgba(255, 255, 255, 0.2);
$color-static-white-40: rgba(255, 255, 255, 0.4);
$color-overlay: rgba(24, 28, 41, 0.8);

$content-width: 1276px;
$tablet-width: 768px;
$mobile-width: 380px;