@function rem($value) {
  @return calc($value / 16) + rem;
}

@function minus-rem($value) {
  @return calc($value / 16 * (-1)) + rem;
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin full-width {
  width: 100%;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}