.basket__wrapper {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .basket__content {
    margin-top: 48px;
    width: 1090px;
    color: var(--color-dark);

    .basket__empty {
      font-size: 24px;
      font-weight: bold;
    }

    .basket__headline {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-bottom: 12px;
      border-bottom: 2px solid var(--black-400);
    }

    .basket__column-headers {
      display: grid;
      grid-template-columns: 3fr repeat(3, 1fr);
      padding: 32px 0 12px;
      border-bottom: 1px solid var(--gray-700);
      justify-items: center;

      span{
        color: var(--black-400);
      }
    }

    .basket__summary-container {
      padding: 48px 0;
      display: flex;
      justify-content: flex-end;

      .basket__summary {
        display: flex;
        flex-direction: column;
        gap: 20px;

        button {
          width: 100%;
        }

        .basket__summary-total {
          display: flex;
          gap: 20px;
          padding-bottom: 16px;
          border-bottom: 1px solid var(--gray-700);

          .basket__summary-amount {
            font-size: 20px;
            font-weight: 700;
          }
        }
      }
    }

  }
}












