@use '../../../styles/mixins/mixins';

.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .main-layout__main {
    @include mixins.full-width;
    max-width: mixins.rem(1440);
    padding: 0 mixins.rem(20);
    margin: 0 auto;
    flex-grow: 1;
  }
}
