.account-dropdown {
	border-radius: 12px;

	.account-dropdown__login-container{
		display: flex;
		justify-content: center;
		padding: 0 0 15px 0;
		.login-container__button{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 2.5rem;
			padding: 8px 16px;
			border-radius: 5px;
			width: auto;
			cursor: pointer;
			transition: all 0.3s ease;
			color: var(--white);
			background-color: var(--secondary);
			&:hover{
				background-color: var(--secondary-hover);
			}
		}
	}

	.account-dropdown__header {
		padding: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12px;
		font-weight: 600;
	}

	.account-dropdown__link {
		display: block;

		&:hover {
			background-color: var(--primary-light);

		}
	}

	.account-dropdown__item {
		padding: 10px 10px;
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;
		transition: all 0.15s ease;
		color: var(--gray-700);
		font-size: 1rem;
		position: relative;

		&:hover {
			.account-dropdown__text {
				color: var(--primary);
			}
			transform: translateX(3px);
		}

		&:active {
			transform: translateX(2px);
			background: var(--primary-100);
		}

		svg {
			transition: all 0.15s ease;
			color: var(--gray-500);
			flex-shrink: 0;
		}

		.account-dropdown__text {
			font-weight: 500;
			white-space: nowrap;

		}


	}

}