.control {
  display: flex;
  align-items: center;
  justify-items: center;
}

.quantity__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #eeeeee;
  border-radius: 100%;

  @media screen and (max-width: 768px) {
    width: 28px;
    height: 28px;
  }

  &:hover:not(:disabled) {
    background: #d6d6d6;
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.quantity {
  width: 45px;
  text-align: center;

  @media screen and (max-width: 768px) {
    width: 24px;
    font-size: 14px;
  }
}

