.divider {
  &-horizontal {
    &.ant-divider-horizontal {
      border-top-color: var(--light-gray);
      margin: 16px 0;
    }
  }

  &-vertical {
    &.ant-divider-vertical {
      border-left-color: var(--light-gray);
      margin: 0 8px;
    }
  }
}