.basket__item {
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  padding: 24px 0;
  justify-items: center;
  border-bottom: 1px solid var(--gray-700);

  .delivery{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;

    span {
      color: #696969;
    }
  }

  .product {
    display: flex;
    gap: 32px;

    .product__image, .product__info {
      display: flex;
      flex-direction: column;
    }

    .product__image{
      gap:12px;

      .product__image-container {
        width: 120px;
        height: auto;
        overflow: hidden;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }

      .product__remove-button {
        font-size: 13px;
        color: red;
      }

      &:hover {
        text-decoration: underline solid red 1px;
        text-underline-offset: 2px;
      }
    }

    .product__info{
      gap:8px;
      color: #696969;

      a {
        font-size: 16px;
        color: var(--secondary);
        text-decoration: underline;
      }
      a:hover {
        color: var(--primary);
      }

      span {
        font-size: 13px;
        color: #696969;
      }
    }
  }

  .price {
    font-size: 16px;
  }

}