@use '../../../../styles/mixins/mixins';

.product-comparison {
  padding-top: mixins.rem(30);
  padding-left: mixins.rem(106);

  @media (max-width: 768px) {
    padding-left: mixins.rem(24);
  }
  
  @media (max-width: 480px) {
    padding-left: mixins.rem(12);
  }

  .header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .product__title {
      font-size: mixins.rem(30);
      font-weight: 400;
    }

    .clear-all__button {
      color: var(--color-button-blue);
      font-size: mixins.rem(15);
    }
  }

  .comparison__section {
    margin-top: 20px;

    .product__text {
      font-size: mixins.rem(15);
      font-weight: 400;
    }
  }

  .empty__state {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    padding-right: 80px;

    .empty__icon {
      padding-bottom: 10px;
    }

    .empty__text {
      font-size: 14px;
      font-weight: 400;
      color: #a4aab0;
    }

    .back__button {
      color: var(--color-button-blue) !important;
      font-size: 14px !important;
      font-weight: 400 !important;
      text-decoration: none !important;

      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;

  th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #ffffff;
}
}



